* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "Lato", sans-serif;
}

.container {
 height: 100vh;
 background-image: url(https://i.eurosport.com/2021/09/12/3217459-65904448-2560-1440.jpg);

 background-size: cover;
}

header {
 text-align: right;
 margin-right: 50px;
}

img {
 width: 300px;
 margin-top: 20px;
 border-radius: 20px;
}

main {
 margin-top: 80px;
}

input {
 margin-left: 5px;
 margin-top: 20px;
 height: 35px;
 border-radius: 10px;
 padding: 10px;
 border: none;
}

.search {
 margin-right: 40px;
}

.add-btn {
 margin-left: 5px;
 border-radius: 10px;
 padding: 10px;
 border: none;
 background-color: rgb(161, 15, 15);
 cursor: pointer;
 font-weight: bold;
}

.check-btn {
 margin-left: 20px;
 border: none;
 border-radius: 10px;
 padding: 4px;
 cursor: pointer;
}

.todos-container {
 margin: auto;
 max-width: 1200px;
 margin-top: 15%;
 padding: 15px;
 border-radius: 20px;
 background: rgba(0, 0, 0, 0.7);
}
.todos-list {
 list-style: none;
}
.todos-list li {
 padding: 8px;
 border-bottom: 1px solid black;
 display: flex;
 color: rgb(209, 21, 21);
 font-weight: bold;
}
.todos-list li.active span {
 color: rgb(2, 92, 2);
 text-decoration: line-through;
 font-weight: bold;
}
.todos-list li i {
 margin-left: auto;
 cursor: pointer;
 color: white;
}
h2 {
 color: white;
}
