* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "Lato", sans-serif;
}

.container {
 height: 100vh;
 background-image: url(https://upload.wikimedia.org/wikipedia/it/1/10/Drive_to_Survive.png);
 background-size: cover;
}

header {
 text-align: center;
}

img {
 width: 400px;
}

main {
 margin-top: 80px;
}

input {
 margin-left: 5px;
 margin-top: 20px;
 height: 35px;
 border-radius: 10px;
 padding: 10px;
 border: none;
}

.add-btn {
 margin-left: 5px;
 border-radius: 10px;
 padding: 10px;
 border: none;
 background-color: rgb(161, 15, 15);
 cursor: pointer;
 font-weight: bold;
}

.check-btn {
 margin-left: 20px;
 border: none;
 border-radius: 10px;
 padding: 4px;
 cursor: pointer;
}

.todos-container {
 margin: auto;
 max-width: 1200px;
 margin-top: 15%;
 padding: 15px;
 border-radius: 20px;
 background: rgba(0, 0, 0, 0.8);
}
.todos-list {
 list-style: none;
}
.todos-list li {
 padding: 8px;
 border-bottom: 1px solid black;
 display: flex;
 color: red;
}
.todos-list li.active span {
 color: green;
 text-decoration: line-through;
}
.todos-list li i {
 margin-left: auto;
 cursor: pointer;
 color: white;
}
h2 {
 color: white;
}
